<h1>Stupid Coaching</h1>
<div>
  <h2>  <%= @question %> </h2>
  <p>-You</p>
</div>
<div class="yellow">
  <h2>  <%= @answer %> </h2>
  <p>-Your coach</p>
</div>
<h5><%= link_to "Ask a new question", "/ask"  %></h5>


